.card-holder1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 20rem;
    height: 180px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 10px;
   }
   
.cardbody1{
    height: 90px;
    contain: content;
    background-color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 0px 0px 5px 5px;
    display: flex;
}
.cardimg{
    height:140px;
    width: 300px;

}
.cardimg:hover{
   transform: scale(1.02);
border: 3.5px solid rgb(0, 255, 132);
}
.cardbody1 h5{
   font-size: 18px;
 
}
.cardbody1 h6{
    font-size: 15px;
    margin: -0.1px;
 }

 /* card-holder2 */
 .card-holder2{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.card2{
    height: 200px;
    width: 200px;
}
.cardimg2{
    height: 180px;
    width: 200px;
}
.cardbody2{
    height: 120px;
    contain: content;
    background-color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 0px 0px 5px 5px;
    
}
.cardbody2 h5{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.cardbody2 h6{
    height: 20px;
    width: 100%;
    background-color: grey;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    
}
.title{
    margin-top: 19%;
}
.cardimg2:hover{
   border:5px solid violet
}