.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh; 
    margin-left: -5%;
  }
  
  .video-player {
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  
  .video-frame {
    width: 102%; /* Ensure the iframe takes the full width of its container */
    height: 500px; /* Let the height adjust proportionally */
  }
  